
<div class="card grey chat-room marginBodyChat">

    <div class="card-body" style="margin-left: 2%">

        <div class="row px-lg-2 px-2">

            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

                <div class="chat-message">
                    <ul class="list-unstyled">
                        {{#each mensaje as |msj|}} {{#each msj.messages as |user|}} {{#if (eq user.sender.id cargarAccount.id)}} {{#if (eq user.estado
                        "enviado")}} {{!-- {{msjs-leidos chat=user}}  --}}
                        
                        <label id="msj" style="display: none">{{user.id}}</label>
                        <hgroup class="speech-bubbles">
                            <div class="divTotal">
                                <p class="myparrafito">
                                    {{user.message}}
                                </p>
                                <div class="horaFechas">
                                    <small class="pull-right text-muted">
                                        {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                </div>
                            </div>
                        </hgroup>


                        {{else}}

                        <hgroup class="speech-bubbles">
                            <div class="divTotal">
                                <p class="myparrafito">
                                    {{user.message}}
                                </p>
                                <div class="horaFechas">
                                    <small class="pull-right text-muted">
                                        {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                </div>
                            </div>
                        </hgroup>

                        {{/if}} {{else}} {{!-- Chat Autenticado --}}

                        <hgroup class="speech-bubble">
                            <div class="divTotal">
                                <p class="myparrafito">
                                    {{user.message}}
                                </p>
                                <div class="horaFechas">
                                    <small class="pull-right text-muted">
                                        {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                </div>
                            </div>
                        </hgroup>

                        {{/if}} {{/each}} {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 




<div class="input-group" id="chat">
    {{textarea key-up=(action "auto_grow") value=textMensaje id="texto" key-down=(action "auto") class="borde" for="textMensaje"
    placeholder="Mensaje..." focus-out=(action 'toggleError' 'textMensaje')}}


    <span class="input-group-btn complemento">

        <button {{action 'createMensaje' chat.id}} class="btn-floating blue-gradient complement" style="outline: none;">
            <img src="media/enviarMensaje.svg" width="35" height="35">
        </button>
    </span>
</div>

<a id="up"></a>




{{!--  





{{!-- Estilo Etapa No.1

<div class="card grey chat-room marginBodyChat">

    <div class="card-body">

        {{!-- {{infinity-loader infinityModel=model.cargarChat}} 
        <div class="row px-lg-2 px-2">

            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

                <div class="chat-message">
                    <ul class="list-unstyled">
                        {{#each mensaje as |msj|}} 
                            {{#each msj.messages as |user|}} 
                                {{#if (eq user.sender.id cargarAccount.id)}} 
                                    {{#if (eq user.estado "enviado")}} {{msjs-leidos chat=user}} 
                                    {{!--
                                    <label id="msj" style="display: none">{{user.id}}</label>
                                    <li class="d-flex justify-content-between mb-1 msjDestino" style="background-color: greenyellow">
                                        <div class="divTotal">
                                            <div class="chat-body white p-3 z-depth-1 textBlack">

                                                <p class="myparrafo">
                                                    {{user.message}}
                                                </p>
                                            </div>
                                            <div class="horaFecha">
                                            <small class="pull-right text-muted">
                                                {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                            </div>
                                         </div>
                                    </li> 
                                    {{else}}
                                        <li class="d-flex justify-content-between mb-1 msjDestino">

                                            <div class="divTotal">

                                                <div class="chat-body white p-3 z-depth-1 textBlack">
                                                    <p class="myparrafo">
                                                        {{user.message}}
                                                    </p>
                                                </div>
                                                <div class="horaFecha">
                                                    <small class="pull-right text-muted">
                                                        {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                                </div>
                                            </div>
                                        </li>
                                    {{/if}} 
                                {{else}}
                                    <li class="d-flex justify-content-between mb-1 msj">
                                        <div class="divTotal">
                                            <div class="chat-body white p-3 z-depth-1 textBlack">
                                                <p class="myparrafo">
                                                    {{user.message}}
                                                </p>
                                            </div>
                                            <div class="horaFecha">
                                                <small class="pull-right text-muted">
                                                    {{user.fecha}} &nbsp;&nbsp; {{user.hora}}</small>
                                            </div>
                                        </div>
                                    </li>
                                {{/if}} 
                            {{/each}} 
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

--}}