
<a id="up">a</a> 


<div style="float:initial; position: fixed; z-index: 900; width: 110%; margin-top: 55px; display: block; transition: top 0.3s;">


    <div class="live__scroll" style="width: 100%; height: 7%">
        <div class="rowFiltro text-center">          

            {{#each modelo.schedule as |filtroFecha|}}                     
            
            {{#if (not-eq filtroFecha.id modelo.fecha)}}

            <div class="live__scroll--box" id="{{filtroFecha.id}}" {{action "filtrar" filtroFecha.id}}>

                <label for="">{{filtroFecha.title}}</label>

            </div>
            {{/if}}
            {{#if (eq filtroFecha.id modelo.fecha)}}            

            <div class="live__scroll--box" style="border-bottom-style: solid" {{action "filtrar" filtroFecha.id}}>

                <label for="">{{filtroFecha.title}}</label>

            </div>

            {{/if}} {{/each}}

        </div>
    </div>
</div>





<div class="container" style="float:left; margin-top: 120px; margin-bottom: 55px">

    {{accountsForChat}} {{#each modelo.schedule as |actividades|}} {{#if (eq actividades.id modelo.fecha)}} {{#each actividades.content
    as |acts|}}

    <div class="cta">

        <span class="header-line gradient-color-1"></span>        

        <div class="container" {{action "detalle" acts.id}}>

            <div class="card-block center" style=" color:#000">
                <h5 class="card-title no-margin-top">{{acts.title}}</h5>
                <label id="fecha" style="display: none">{{acts.beginDate}}</label>   

                <h6 class="card-subtitle text-muted" id="newFecha" style="margin-top: -2%">vie. 18 de may. de 2018</h6>
                <h6 class="card-subtitle text-muted" style="margin-top: 2%;">4:15 pm - 5:15 pm</h6>
                
                <hr class="act"> {{#each acts.speakers as |ponente|}}
                <p class="list-group-item-text pActividad">{{ponente.name}}</p>
                {{/each}} {{#each acts.categories as |tipo|}}
                <p class="pActividad">
                    <span style="margin-bottom: 5%; margin-top: -10%" class="badge badge-pill badge-dark">{{tipo}}</span>
                </p>
                {{/each}}
            </div>
        </div>
    </div>

    {{/each}} {{/if}} {{/each}} {{#if (eq modelo.fecha "act")}} {{#each modelo.firstDay.content as |acts|}}

    <div class="cta">
        <span class="header-line gradient-color-1"></span>
        <div class="container" {{action "detalle" acts.id}}>

            <div class="card-block center" style=" color:#000">
                <h5 class="card-title no-margin-top">{{acts.title}}</h5>
                <label id="fecha" style="display: none">{{acts.beginDate}}</label>

                <h6 class="card-subtitle text-muted" id="newFecha" style="margin-top: -2%">vie. 18 de may. de 2018</h6>
                <h6 class="card-subtitle text-muted" style="margin-top: 2%;">4:15 pm - 5:15 pm</h6>

                <hr class="act"> {{#each acts.speakers as |ponente|}}
                <p class="list-group-item-text pActividad">{{ponente.name}}</p>
                {{/each}} {{#each acts.categories as |tipo|}}
                <p class="pActividad">
                    <span style="margin-bottom: 5%; margin-top: -10%" class="badge badge-pill badge-dark">{{tipo}}</span>
                </p>
                {{/each}}
            </div>
        </div>
    </div>

    {{/each}} {{/if}}

</div>