@import "ember-cli-bootstrap-4/bootstrap";

/***********************************************************/
/***********************************************************/

@media only screen and (min-width: 320px) and (max-width: 359px) {
    
   /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }
}
@media only screen and (min-width: 360px) and (max-width: 374px) {
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }
}
@media only screen and (min-width: 375px) and (max-width: 410px) {
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }

}
@media only screen and (min-width: 411px) and (max-width: 768px) {
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }
}

@media only screen and (min-width: 1020px) and (max-width: 413px) {
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }
}






/***********************************************************/
/***********************************************************/

/*MENU DE PAGINA*/

@media only screen and (max-width: 800px) {
    body {
        position: relative
    }

    .overlay,
    .sideMenu {
        position: fixed;
        bottom: 0
    }

    .overlay {
        top: 0;
        left: -100%;
        right: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, .5);
        z-index: 998;
        transition: all ease .2s
    }

    .overlay.open {
        left: 0;
        right: 0
    }

    .sidebarNavigation {
        margin-bottom: 0;
        z-index: 999;
        justify-content: flex-start
    }

    .sidebarNavigation .leftNavbarToggler {
        margin-right: 10px;
        order: -1
    }

    .sideMenu {
        left: -100%;
        top: 52px;
        transition: all ease .5s;
        overflow: hidden;
        width: 100%;
        z-index: 999;
        max-width: 80%;
        margin-bottom: 0;
        padding: 1rem
    }

    .sideMenu.open {
        left: 0;
        display: block;
        overflow-y: auto
    }

    .sideMenu ul {
        margin: 0;
        padding: 0 10px
    }

    //IMAGEN PERFIL CONTACTO
    .imgc {
        border-radius: 8px;
        width: 90%;
        height: 90%;
        margin-top: 8%;
    }
} 

    //NO SE QIE SEA
    #PonenteCard {
        margin-left: 9%;
        margin-top: 7%
    } 
    //Pantalla Celular Chat PARRAFO MENSAJE
    .myparrafo {
        margin-left: 2%;
        margin-bottom: -7%;
        margin-top: -2%;
        line-height: 1.4
    } 
    //ATRANSPARENTA LA CARD DE LA INTERFAZ DE LOS MENSAJES 
    .marginBodyChat {
        margin-bottom: 5%;
        margin-top: 15%;
        background-color: transparent;
    } 
    //DIVIDE EL NOMBRE Y LA IMAGEN DE EL MENSAJE ESTO ES EN EL COMPONENT CHAT-USER
    .hrMessage {
        margin-top: 3%;
        margin-bottom: 3%;
    } 
    //PARRAFO INTERES CONTACTOS
    .pfInteres {
        max-width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .urlIMG {
        max-width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #000;
        
    }

    //PERFIL CONTACTO 
    .cardContacto {
        box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.596);
        width: 95%;
        height: 95%;
        margin: auto;
        text-align: center;
        font-family: arial;
    } 

@media only screen and (max-width: 801px) and (min-width: 400px){

    .cardContacto {
        box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
        width: 95%;
        height: 95%;
        margin: auto;
        text-align: center;
        font-family: arial;
    } 

    //IMAGEN PERFIL CONTACTO
    .imgc {
        border-radius: 8px;
        width: 90%;
        height: 90%;
        margin-top: 8%;
    }
} 

@media only screen and (max-width: 320px) and (min-width: 250px){

    .cardContacto {
        box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2);
        width: 95%;
        height: 90%;
        margin: auto;
        text-align: center;
        font-family: arial;
    } 

    //IMAGEN PERFIL CONTACTO
    .imgc {
        border-radius: 8px;
        width: 85%;
        height: 80%;
        margin-top: 3%;
    }
}

//Pantalla Completa
@media only screen and (min-width: 801px) {

    .cta{
        width: 40%;
        background-color: rgb(224, 224, 250); 
        border-radius: 0 0 5% 5%
    }


    body {
        position: relative
    }

    .overlay,
    .sideMenu {
        position: fixed;
        bottom: 0
    }

    .overlay {
        top: 0;
        left: -100%;
        right: 100%;
        margin: auto;
        background-color: rgba(0, 0, 0, .5);
        z-index: 998;
        transition: all ease .2s;
    }

    .overlay.open {
        left: 0;
        right: 0
    }

    .sidebarNavigation {
        margin-bottom: 0;
        z-index: 999;
        justify-content: flex-start
    }

    .sidebarNavigation .leftNavbarToggler {
        margin-right: 10px;
        order: -1
    }

    .sideMenu {
        left: -100%;
        top: 52px;
        transition: all ease .5s;
        overflow: hidden;
        width: 100%;
        z-index: 999;
        max-width: 25%;
        margin-bottom: 0;
        padding: 1rem;

    }

    .sideMenu.open {
        left: 0;
        display: block;
        overflow-y: auto
    }

    .sideMenu ul {
        margin: 0;
        padding: 0 15px
    } //NO SE QIE SEA
    #PonenteCard {
        margin-left: 3%;
        margin-top: 3%;
        color: #000;

    } 
    //Pantalla Completa Chat PARRAFO MENSAJE
    .myparrafo {
        margin-bottom: 0%;
        line-height: 1.4;
        margin-bottom: -2%;
        margin-top: 0%
    } 
    //ATRANSPARENTA LA CARD DE LA INTERFAZ DE LOS MENSAJES 
    .marginBodyChat {
        margin-bottom: 2%;
        margin-top: 5%;
        background-color: transparent;
    } //DIVIDE EL NOMBRE Y LA IMAGEN DE EL MENSAJE ESTO ES EN EL COMPONENT CHAT-USER
    .hrMessage {
        margin-top: 1rem;
        margin-bottom: 1rem;
    } //PARRAFO INTERES CONTACTOS
    .pfInteres {
        max-width: 50%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }


    //IMAGEN PERFIL CONTACTO
    .imgc {
        border-radius: 8px;
        width: 20%;
        height: 20%;
        margin-top: 2%;
    }
    .filtro {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 319px){
    //PIE DE PAGINA Celular Completa
    .main-footer {
        background: #292b2c;
        color: white;
        height: 57px;
        text-align: center;
        padding: 8px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
    }     

    .cta{
        width: 100%;
        background-color: rgb(224, 224, 250); 
        border-radius: 0 0 5% 5%
    }

    .pActividad{
        margin-top: -4%;
    }
    /*******************************************************************************************
        NEW STYLE CHAT 
    ********************************************************************************************/

    #chat {
        background: #292b2c;
        color: white;
        text-align: center;
        padding: 02px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
        min-height: 45px;
        max-height: 150px;
    }

    .myparrafito {
        margin-left: 3.5%;
        margin-bottom: 0%;
        margin-top: 2%;
        line-height: 1.4
    }

    .horaFechas {
        text-align: right;
        margin-right: 5%;
        margin-top: -2%;
        margin-bottom: -2%
    }

    .speech-bubble {
        position: relative;
        background: #caecf0;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-left-color: #caecf0;
        border-right: 0;
        border-top: 0;
        margin-top: -11px;
        margin-right: -17px;
    }

    .speech-bubble {
        width: 98%;
        padding: 5px 5px;
        color: rgb(0, 0, 0);
    }


    .speech-bubbles {
        position: relative;
        background: #ffffff;
        border-radius: .4em;
    }

    .speech-bubbles:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-right-color: #ffffff;
        border-left: 0;
        border-top: 0;
        margin-top: -11px;
        margin-left: -17px;
    }

    .speech-bubbles {
        width: 98%;
        padding: 5px 5px;
        color: rgb(0, 0, 0);
    }

    hgroup {
        margin-bottom: 2%
    }

    /********************************************************************************************/
    /********************************************************************************************/
    
    //IMAGENES MENU PIE DE PAGINA
    #celda {
        width: 150px;
    } //DROPDONW LIST MENU ACTIVIDADES
    #dropdownW {
        width: 70%;
    } //HR PARA DIVIDIR CONTACTOS
    .styleHr {
        margin-top: 0%;
        margin-bottom: 0px;
        max-width: 90%;
    }

    /* --  Input  -- */
    input[type="text"],
    input[type="msg"],
    input[type="password"] {
        height: 40px;
        width: 75%;
        border: none;
        background: #F4F4F4;
        border-bottom: 2px solid #EEE;
        color: #354052;
        padding: 0px 10px;
        opacity: 0.5;
        -webkit-transition: 0.2s border-color, 0.2s opacity;
        transition: 0.2s border-color, 0.2s opacity;
        margin-left: 12.5%;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        border-color: #6195FF;
        opacity: 1;

    }

    textarea {
        height: 40px;
        width: 83%;
        border: none;
        background: #F4F4F4;
        color: #354052;
        padding: 0px 10px;
        -webkit-transition: 0.2s border-color, 0.2s opacity;
        transition: 0.2s border-color, 0.2s opacity;
    }

    .complemento{
        margin: 0%;             
        text-align: center; 
        width: 10%
    }
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    /* .logo {
        width: 100%;
        margin-top: 30%;
        margin-bottom: 30%;
    }

    .btnLogin {
        width: 75%;
    }

    .lbl {
        margin-left: 12.5%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    } */

    //QUIEN SABE
    .filtro {
        width: 50%;
    }

}

@media only screen and (min-width: 769px) {
    //PIE DE PAGINA    
    .main-footer {
        background: #292b2c;
        color: white;
        height: 70px;
        text-align: center;
        padding: 20px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
    } 

    /*******************************************************************************************
        NEW STYLE CHAT 
    ********************************************************************************************/

    #chat {
        background: #292b2c;
        color: white;
        height: 55px;
        text-align: center;
        padding: 5px;
        width: 100%;
        position: fixed;
        bottom: 0 !important;
        bottom: -1px;
        resize: none;
        overflow: auto;
    }

    .myparrafito {
        margin-left: 3.5%;
        margin-bottom: 1%;
        margin-top: 1%;
        line-height: 1.4
    }

    .horaFechas {
        text-align: right;
        margin-right: 5%;
        margin-top: -2%;
        margin-bottom: -1%
    }

    .speech-bubble {
        position: relative;
        background: #caecf0;
        border-radius: .4em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-left-color: #caecf0;
        border-right: 0;
        border-top: 0;
        margin-top: -11px;
        margin-right: -17px;
    }

    .speech-bubble {
        width: 75%;
        padding: 5px 5px;
        color: rgb(0, 0, 0);
    }


    .speech-bubbles {
        position: relative;
        background: #ffffff;
        border-radius: .4em;
    }

    .speech-bubbles:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 22px solid transparent;
        border-right-color: #ffffff;
        border-left: 0;
        border-top: 0;
        margin-top: -11px;
        margin-left: -17px;
    }

    .speech-bubbles {
        width: 75%;
        padding: 5px 5px;
        color: rgb(0, 0, 0);
    }

    hgroup {
        margin-bottom: .7%
    }

    /********************************************************************************************/
    /********************************************************************************************/
    
    //IMAGENES MENU PIE DE PAGINA
    #celda {
        width: 400px;
    } //DROPDONW LIST MENU ACTIVIDADES
    #dropdownW {
        width: 40%;
    } //HR PARA DIVIDIR CONTACTOS
    .styleHr {
        margin-top: 0%;
        margin-bottom: 0px;
    }

    /* --  Input  -- */
    input[type="text"],
    input[type="password"] {
        height: 40px;
        width: 40%;
        border: none;
        background: #F4F4F4;
        border-bottom: 2px solid #EEE;
        color: #354052;
        padding: 0px 10px;
        opacity: 0.5;
        -webkit-transition: 0.2s border-color, 0.2s opacity;
        transition: 0.2s border-color, 0.2s opacity;
        margin-left: 30%;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    textarea:focus {
        border-color: #6195FF;
        opacity: 1;
    }

    textarea {    
        height: 10px;
        width: 50%;
        border: none;
        background: #F4F4F4;
        color: #354052;   
        -webkit-transition: 0.2s border-color, 0.2s opacity;          
        transition: 0.2s border-color, 0.2s opacity;          
    }
   
    .complemento{
        margin: 0%;             
        text-align: center; 
        
    }
    /***********************************************************
    PANTALLA LOGIN
    /***********************************************************/
    .logo {
        width: 50%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 25%;
    }

    .btnLogin {
        width: 40%;
    }

    .lbl {
        margin-left: 30%;
        font-size: 22px;
        font-weight: bold;
        color: rgb(75, 75, 75);
    }

}

/////////////////////////////////////////////////////////////
/***********************************************************/

/*contenedor de cada contacto*/

.w3-cell-row {
    height: -10%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.w3-cell {
    display: table-cell;
    margin-bottom: 0%;
    width: 100%;
    padding: 0em 10px
}

//IMAGEN CONTACTOS
.w3-circle {

    max-width: 55px;
    max-height: 55px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-top: 20px;
}


/*contenedor de cada Ponente*/

.w3-cell-rowPonente {
    height: -10%;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.w3-cellPonente {
    display: table-cell;
    margin-bottom: 0%;
    width: 100%;
    padding: 0em 10px
}

//Imagen Ponente
.w3-circlePonente {

    max-width: 55px;
    max-height: 55px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    //margin-top: 10px;
}

/***********************************************************/
/* -- typography -- */
/***********************************************************/

body {
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    overflow-x: hidden;
    color: #868F9B;
    height: 100%;
    width: 100%;
}


h1, h2, h3, h4,h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 50px;
    color: rgb(0, 0, 0);
}

h1 {
    font-size: 40 px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

a {
    color: #868F9B;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}

/* ::-moz-selection {
background-color: #6195FF;
color: #FFF;
}

::selection {
background-color: #6195FF;
color: #FFF;
} */

/***********************************************************/

/* --  background image section  -- */

/***********************************************************/

 .bg-img {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
} 

.bg-img .overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .8;
    background: #1C1D21;
}

/***********************************************************/

//NO SE QUE TENGA QUE VER
textarea {
    padding: 10px 10px;
    max-height: 40px;
    resize: vertical;
}

//ESTILO DIV PARA CHAT-USER IMAGENES
header {
    position: relative;
}

/* .home-content */

h1 {
    text-transform: uppercase;
}

.parallax {
    /* The image used */
    background-image: url('/media/1.webp');

    /* Set a specific height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


//ESTE NO SE
.row {
    display: block;
}

//SE USA EN DETALLE ACTIVIDADES EN EL TITULO
.text-center {
    text-align: center;
    color: midnightblue
}


//SE USA EN ACTIVIDADES Y HOME SPAN
.header-line {
    height: 5px;
    width: 100%;
    content: '';
    display: block;
}

//SE USA EN ACTIVIDADES SPAN
.gradient-color-1 {
    background: -webkit-linear-gradient(left, #fc636b 0, #ff6d92 60%, #fd9a00 100%);
    background: linear-gradient(to right, #fc636b 0, #ff6d92 60%, #fd9a00 100%);
    margin-bottom: 15px
}

/* .gradient-color-2 {
    
background: #a7f5ff;
background: -webkit-linear-gradient(bottom left, #c9fded 0, #adefff 100%);
background: linear-gradient(to top right, #ecc9fd 0, #97e9fd 100%);
} */

/****************************************************************************************/

//FONDO PRINCIPAL DE LA APLICACION
/****************************************************************************************/

.bg-imgAA {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
}


.bg-imgAA .overlayed {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    height: 100%;
    width: 100%;
    margin: 0px;


    background: -moz-linear-gradient(top, #23CCEF 0, rgba(64, 145, 255, .7) 100%);
    background: -o-linear-gradient(top, #23CCEF 0, rgba(64, 145, 255, .7) 100%);
    background: -ms-linear-gradient(top, #23CCEF 0, rgba(64, 145, 255, .7) 100%);
    background: linear-gradient(to bottom, #23CCEF 0, rgba(64, 145, 255, .7) 100%);
    background-size: 120% 120%;
}

/****************************************************************************************/

//sE USA EN HOME EN SPAN
.gradient-color-4 {
    background: -webkit-linear-gradient(left, #2770f8 0, #ac6dff 60%, #dfa1fc 100%);
    background: linear-gradient(to right, #2770f8 0, #ac6dff 60%, #dfa1fc 100%);
}


//TITULO EN ACTIVIDADES EVENTO
.no-margin-top {
    margin-top: 0;
}

/* ESTILO PARA SPAN */

.time-right {
    float: right;
    color: rgb(48, 48, 48);
}

//IMAGEN HEADER CONTACTO EN EL COMPONENTE CHAT-USER
#avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/***-*-*-*-*--*-*-*-*-*-*---*-*-*-*-*-*-*-*-*-*-*-*-*-*--*-*-*-*-***-
-*-*--*-**--*-*-*-*-*-ESTILO CONTACTOS BARRA DE BUSQUEDA*--*--*-**-*-*--*-*-*-*-*-*-*-**/

/***********************************************************/

/*ALOJA EL BOTON A LADO DEL INPUT TEXT*/

* {
    box-sizing: border-box;
}

/*ACOMODA EL INPUT TEXT, TAMAÑO, POSICION DE ACUERDO AL BOTON ,COLOR,*/

form.example input[type=text] {
    padding: 15px;
    font-size: 14px;
    border: .5px solid grey;
    float: left;
    width: 50px;
    height: 35px;
    margin-top: 5.5px;
    background: #f1f1f1;
    border-radius: 5px;
}

/*TODO EL ESTILO DEL BUTTON, COLOR, POSISCION*/

form.example img {
    float: left;
    font-size: 14px;
    border-left: none;
    cursor: pointer;
}


/*SOLO ACOMODA EL TEXTO DE ACUERDO AL INPUT AND BUTTON*/

form.example::after {
    content: "";
    clear: both;
    display: table;
}


/*EL EFECTO DE OCULTAR LA BARRA DE BUSQUEDA*/

form.example input[type=text]:focus {
    width: 70%;
}

/*********************************************************************/

/*********************************************************************/

/*********************************************************************/

/* .message{    
    width: 300px;
    height: 150px;      
} */

textarea,
.foot {
    resize: none;
    overflow: auto;
    min-height: 45px;
    max-height: 150px;
}

//TEXTAREA INTERES PERFIL
.textA {
    height: 70px;
    max-height: 80px;
    width: 80%;
    font-size: 15px;
    margin-left: 10%; 
    margin-right: 10%;     
     
}

/* .parrafo{
max-width: 50%;
} */

/*********************************************************************/

/************************PERFILES*********************************************/

//PERFIL PONENTE 
.cardponente {
    box-shadow: 0 0px 100px 0 rgb(0, 0, 0);
    max-width: 95%;
    margin: auto;
    text-align: center;
    font-family: arial;
} 

//PERFIL my Perfil 
.cardMyPerfil {
    box-shadow: 0 -8px 100px 0 rgb(0, 0, 0);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 20px

} 

//PERFIL my Perfil 
.cardDetalleEvento {
    max-width: 320px;
    margin: auto;
    text-align: center;
    font-family: arial;
    

} 

//INFORMACION PERFIL PONENTES Y PEFIL CONTACTO
.titlep {
    color: rgb(255, 255, 255);
    font-size: 18px;
} // BOTON PONENTES "VER ACTIVIDADES" Y AJUSTES CUENTA "GUARDAR CAMBIOS"
.buttoncard {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

/* .ponente a {
text-decoration: none;
font-size: 22px;
color: black;
} */

button:hover,
a:hover {
    opacity: 0.7;
} //IMAGEN PERFIL PONENTE
.imgp {
    border-radius: 8px;
    width: 150px;
    height: 150px;
} 

//IMAGEN PERFIL   
.imgperfil {
    border-radius: 8px;
    width: 120px;
    height: 110px;
    margin-top: 3%
}

/*******************************************************************************************
CONFIGURACION DE LA PAGINA
********************************************************************************************/

.imgperfilevento {
    border-radius: 8px;
    width: 80%; height: 150px;
}

html {
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
}

body {
    width: auto;
    height: auto;
}




.borde {
    border-radius: 20px;
    outline: none
}

//EDICION ESTILO GENERAL
.form-control {
    position: relative;    
    border-top-right-radius: 20;
    border-bottom-right-radius: 20;
    border: 0;
    padding: 1%;
}

/*******************************************************************
    BOTON ENVIAR CHAT
*******************************************************************/

.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: -o-linear-gradient(50deg, #45cafc, #303f9f) !important;
    background: linear-gradient(40deg, #45cafc, #303f9f) !important;
}

.btn-floating {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
    border: none;
    cursor: pointer;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.complement{
    margin: 0%; 
    margin-left: 5px; 
    margin-right: 5px; 
    outline: none;
    text-align: center;    
}

#imgEnviar{
    width:25; 
    height:25;
    text-align:center;
}

#up{
    position: fixed
}

/*******************************************************************/

.btn-outline-pink {
    border-color: rgb(237, 101, 241);
    background-color: transparent;
    color: rgb(237, 101, 241);
}

/*******************************************************************
STYLES GENERALES HBS
/*******************************************************************/

.containerCenter{
    color:rgb(0, 0, 0);
    text-align: center
}

.hrHome{
    background-color: #d1d1f8;
}

.fBlanco{
    background-color: rgb(224, 224, 250);
}

.nameContacto{
    margin-bottom: 2px;
}

.notificacion{
    margin-top: -55px; 
    margin-right: 15%;    
}

.notificacionHora{
    margin-right: -30%;    
}

/****************************************
namePonente
/****************************************/

.namePonente{
    margin-bottom:25px;
    margin-top: 25px;
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}


/*************************************
chat-user.hbs
/*************************************/

.msj{
    background-color: rgb(186, 234, 224); 
    border-radius: 30px 10px 0px 30px
}

.msjDestino{
    background-color: rgb(255, 255, 255); 
    border-radius: 0px 30px 30px 10px
}

.textBlack{
    color: black
}

.divTotal{
    width: 100%
}

.horaFecha{
    text-align: right; 
    margin-right: 5%;
    margin-top: -2%
}

.noMarginBotton{
    margin-bottom: 0px
}

/*************************************
chatU.hbs
/*************************************/

.lblHeader{
    font-size: 21.2px; 
    margin: 4%; 
    margin-bottom: 0; 
    margin-top: 1%; 
    color: #f1f1f1;
}


/*************************************
ajustesCuenta.hbs
/*************************************/

.separador{
    background-color: #000000;
    text-align: left;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 0%;    
    
          
}

.namePerfil{
    margin-bottom: 5%;
    font-size: 16px;
    color: #2b3341
}
.lblInteres{
    margin-left: -60%;      
    font-size: 18px;        
}

.titleEvento{
    font-size: 18px;
    text-align: center;
    width: 100%;
}

.lblEvento{
    margin-left: 2%; 
    margin-top: -2%;  
    margin-bottom: 0%;      
    font-size: 17px;
    text-align: left;
    float: left;        
}

.msjError{
    color: rgb(247, 38, 38)
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}


/*************************************
ajustes.hbs
/*************************************/

.hrOpcion{
    /* background-color: rgb(234, 186, 238); */
    background-color: rgba(255, 249, 255, 0.747);

}
.h4Opcion{
    margin-bottom: 20px;
}


/*************************************
ajustesCuenta.hbs
/*************************************/

.subtitulos{

    margin-bottom: 2%;
}


.marginContain {
    margin-top: 57px;
    margin-bottom: 57px;
}

.marginPonentes {
    margin-top: 70px;
    margin-bottom: 65px;
}

.marginContainContactos {
    margin-top: 48px;
    margin-bottom: 57px;
}

.act{
    margin-bottom: 6%;
    margin-top: 2%;
    background-color: #d1d1f8;
}

.white{
    background-color: rgba(255, 255, 255, 0.301)
}

/*STYLE SCRROLL FILTRO DE ACTIVIDADES POR DIA*/

.live__scroll {
    overflow-x: auto;
    overflow-y: none;
    white-space: nowrap;
    position: fixed;
    z-index: 900;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

.live__scroll .rowFiltro {
    display: block;
    width: 100%;
    margin-left: 1%;
    margin-right: 1%;

}

.live__scroll .live__scroll--box {
    display: inline-block;
    margin-top: 2%;
    width: 32%
}

