{{#ember-wormhole to="destination"}} {{/ember-wormhole}} {{outlet}}

<br>
<br>
<br>

<div class="container">

    {{#each model.cargarUsuario as |perfil|}}

    <div class="cardMyPerfil">
        <br>
        <form class="textBlack">
            <div class="form-group">
                <label class="lblInteres">Nombre:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">
                    <h3 class="namePerfil">{{perfil.name}}</h3>

                </div>

                <label class="lblInteres">E-mail:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">
                    <h3 class="namePerfil">{{perfil.email}}</h3>

                </div>

                <label class="lblInteres">Interes:</label>
                <br>
                <div style="width: 80%; margin-left: 20%; text-align: left">
                    <h3 class="namePerfil">{{perfil.interes}}</h3>
                </div>
                <hr>
                <button {{action 'editarInteres'}} id="btnEditar" style="display: inline; " class="btn btn-dark" style="width: 80%">
                    <img src="/media/editar.svg" alt="editar" width="25" height="25" style="float: left">Editar Interes</button>

                <div id="interes" style="display: none">

                    {{textarea type="tex" cols="80" rows="2" id="textInteres"class="textA" placeholder="Interes" value=interes focus-out=(action
                    'toogleError' 'interes')}}

                    <div class="msjError">
                        {{#if interesErrorCheck}} {{v-get this 'interes' 'message'}} {{/if}}
                    </div>

                    <br>
                    <button {{action 'actualizarInteres' interes }} class="btn btn-success" style="width: 40%">
                        <img src="/media/guardar.svg" alt="guardar" width="25" height="25" style="float: left">Guardar</button>
                    <button {{action 'cancelar'}} class="btn btn-danger" style="width: 40%">
                        <img src="/media/cancelar.svg" alt="guardar" width="25" height="25" style="float: left">Cancelar</button>
                </div>

            </div>

            <hr class="separador">

        </form>
        <div>
            <img class="imgperfil" id="imageUser" src="{{perfil.img}}" alt="perfil">
            <br>
            <label class="fileContainer">
                {{input class="form-control" type="file" id="userImage" accept="image/x-png,image/jpeg" value=clientImage change=(action
                'NuevaImg' clientImage)}}

                <button class="btn btn-primary" style="margin-top: 1%; background-color: rgba(112, 186, 252, 0.699); color: black" >                     
                    <img src="/media/seleccionarImg.svg" alt="guardar" width="25" height="25" style="float: left">Seleccionar Imagen</button>

            </label>
        </div>
        <label id="error" class="urlIMG"></label>
        <br>

        <button {{action 'actualizarImg' perfil.id}} style="width: 80%" class="btn btn-dark">
            <img src="/media/guardar.svg" alt="guardar" width="25" height="25" style="float: left">Guardar imagen</button>
        <br>
        <br>
    </div>
    {{/each}}
</div>
<br>
<br>
<br> {{footer-nav evento=model.token.evento}}