
{{#ember-wormhole to="destination"}} Contactos {{/ember-wormhole}} {{outlet}}


<div class="w3-container marginContainContactos">
    {{#with model.token.evento as |evento|}} {{#each evento.tokens as |token|}} {{#with token.account as |user|}}
    
    {{#each model.cargarDatosUsuario as |cargarDatos|}}
    {{#if (not-eq user.email cargarDatos.email)}}

    <div class="w3-cell-row" {{action "chatt" user.id evento.id}}>
        
        <div class="w3-cell" style="width:0%;">
            <img class="w3-circle" src="{{user.img}}">
        </div>
        <div class="w3-cell">
            <div style="width: 80%;">
                <h5 class="pfInteres nameContacto">{{user.name}}</h5>
            </div>
            <div style="width: 80%;">
                <small style="color: aliceblue; width: 80px">
                    <p class="pfInteres">
                        {{user.interes}}
                    </p>
                </small>
            </div>
            <div class="chat-footer">
                <span class="time-right notificacion">
                    {{msjs-recibidos contacto=user event=evento}}
                </span>
            </div>
        </div>
        <hr class="styleHr">
    </div>

    {{/if}} {{/each}} {{/with}} {{/each}} {{/with}}

</div>

 {{footer-nav evento=model.token.evento}}