<div class="bg-img" style="background-image: url('media/eBento.jpg');">
</div>

<div class="container">

    <img src="media/logo.png" class="logo" alt="ebento">

    <div class="form-group">
        <label class="lbl" for="token">Token:</label>
        {{input type="text" name="" class="form-control" placeholder="Introduce el token..." value=token focus-out=(action 'toogleError'
        'token')}}
    </div>

    <div class="containerCenter">
        {{#if tokenErrorCheck}} {{v-get this 'token' 'message'}} {{/if}}
    </div>
    <br>

    <br>
    <div class="containerCenter">
        <button {{action 'login' token }} class="btn btn-dark btn-lg btnLogin">Acceder</button>
    </div>
    <br>


</div>