<h3>Registrar usuario</h3> 


{{!-- 

Codigo para registrar un token y una account con un evento ya registrado

consultar controller (Prueba) ahi se mete el id del evento


  --}}


<br> {{input value=nombre placeholder="Nombre"}}
<br>
<br> {{input value=correo placeholder="Email"}}
<br>
<br> {{input value=password placeholder="password"}}
<br>
<br> {{input value=token placeholder="token"}}
<br>
<br>

registrar nueva account y token al mismo tiempo
<button {{action "registrarCuenta" correo password}} class="btn btn-info">Registrar Cuenta y Token</button>












{{!-- 

Codigo para asignar un token a una account ya regitrada con un evento tambien ya registrado

consultar controller (Prueba) ahi se mete el id del evento


  --}}

Escribir email ya existente en firebase y un nuevo token

<hr>
<hr> {{input value=correo placeholder="correo"}}
<br> {{input value=newtoken placeholder="newtoken"}}
<br>
<button {{action "newToken"}} class="btn btn-info">Agregar a Token</button>



